<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--  생성자를 통한 Dependency 주입 -->
	<bean class="lecture.p06core.Service">
		<constructor-arg ref="dao"></constructor-arg>
	</bean>
	<bean id="dao" class="lecture.p06core.Dao"></bean>

</beans>
